.navbar {
  background-color: #000000;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  color: rgb(234, 227, 227);
  font-size: 40px;
  font-family: "Roboto", serif;
  text-decoration: none;
}

.navbar-logo:hover {
  color: #8e1616;
}

.menu-icon {
  display: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-links {
  color: rgb(234, 227, 227);
  text-decoration: none;
  font-size: 20px;
  font-family: "Roboto", serif;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.nav-links:hover {
  color: #8e1616;
  border-radius: 5px;
}

.nav-menu.active {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #1d1616;
  padding: 0px;
  border: 0px;
}

.nav-item {
  margin: 10px 10px;
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  margin: auto;
  font-family: "Roboto", serif;
}

.logout-button:hover {
  color: #8e1616;
}

/* Responsive Styles */

@media (min-width: 1200px) {
  .navbar-container {
    padding: 10px 200px;
  }

  .navbar-logo {
    font-size: 45px;
  }

  .nav-links {
    font-size: 22px;
  }

  .nav-menu {
    display: flex;
    justify-content: flex-end;
  }

  .nav-item {
    margin: 0 20px;
    padding: 10px;
  }
}

@media (max-width: 1200px) {
  .navbar-container {
    padding: 10px 100px;
  }

  .navbar-logo {
    font-size: 40px;
  }

  .nav-links {
    font-size: 20px;
  }

  .nav-menu {
    display: flex;
    justify-content: flex-end;
  }

  .nav-item {
    margin: 0 15px;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    color: rgb(234, 227, 227);
    font-size: 30px;
    font-family: "Roboto", serif;
    cursor: pointer;
    justify-content: space-between;
    padding: 10px;
    margin-right: 20px;
  }

  .menu-icon:hover {
    color: #8e1616;
    border-radius: 5px;
  }

  .navbar-container {
    padding: 10px 30px;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-links {
    padding: 10px;
    text-align: left;
    font-family: "Roboto", serif;
    width: 100%;
    padding: 8px 0;
  }

  .nav-links:hover {
    color: #8e1616;
    border-radius: 5px;
  }

  .nav-menu.active {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #1d1616;
    width: 100%;
    padding: 10px;
  }

  .nav-item {
    margin: 10px 20px;
  }

  .navbar-logo {
    font-size: 35px;
  }
}

@media (max-width: 480px) {
  .navbar-container {
    padding: 10px 20px;
  }

  .navbar-logo {
    font-size: 30px;
  }

  .nav-links {
    font-size: 18px;
    text-align: left;
  }

  .menu-icon {
    font-size: 28px;
    padding: 8px;
  }

  .nav-item {
    margin: 8px 0;
    margin-left: 15px;
  }

  .nav-menu.active {
    padding: 5px;
  }

  .nav-links:hover {
    color: #8e1616;
    border-radius: 5px;
  }
}
