.login-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .login-popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Adjusted for smaller screens */
    max-width: 400px; /* Maximum width for larger screens */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    /* color: black; */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  form input {
    width: 90%; /* Increased for better usability on smaller screens */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-color: #d84040;
    border-radius: 5px;
    font-size: 1rem; /* Adjust font size for readability */
  }
  
  form button {
    width: 60%; /* Make the button full-width on smaller screens */
    padding: 10px;
    background-color: #d84040;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; /* Adjust font size for readability */
    margin-top: 40px;
  }
  
  form button:hover {
    background-color: #8e1616;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .login-popup-content {
      padding: 25px; 
    }
  
    form input, form button {
      width: 100%; /* Ensure full width for inputs and buttons */
    }
  
    form button {
      font-size: 0.9rem; /* Slightly smaller font size on small screens */
    }
  }
  
  @media (max-width: 480px) {
    .close {
      font-size: 18px; /* Adjust close button size for very small screens */
    }
  
    form input {
      font-size: 0.9rem;
      width: 65%; /* Adjust input font size for readability */
    }
  
    form button {
      padding: 8px;
      width: 40%; /* Reduce padding for smaller buttons */
    }

    .login-popup-content {
        padding: 15px; 
        width: 70%;
      }
    
  }
  